.redTextStyle {
  background-color: #e5e3e3;
  color: #f5222d;
  padding: 3px 6px;
  font-weight: 700;
  border-radius: 5px;
}

.iconTop {
  width: 80px !important;
}

.modalStyles {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}