.header {
  padding: 40px 20px;
  background-color: white;
  display: flex;
  align-items: center;
}

.logoContainer {
  display: flex;
  align-items: center;
}

.titleContainerStyle {
  flex: 1;
  text-align: center;
}