.container {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
}

.space {
  width: 100%;
}

.list {
  margin-top: 20px;
}

.buttonUpdate {
  border-radius: 5px;
}

.buttonLogout {
  display: flex;
  justify-content: center;
  margin-top: 20px ;
}

.text {
  cursor: pointer;
  transition: color 0.2s ease-in-out;
}

.text:hover {
  color: #1890ff;
}

.textCompleted {
  text-decoration: line-through;
}
