.layout {
  min-height: 100vh;
}

.footer {
  background-color: white;
  text-align: center;
  padding: 10px;
}

.sider {
  background-color: white;
}

.divider {
  border-color: #d9d9d9;
  margin: 0;
}